node_modules/
.next/
out/
coverage/
playwright-report/
test-results/
*.tsbuildinfo
.env
.env.*
!.env.example
npm-debug.log*
debug.log
# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
